{% extends "lightsoff/base.html" %}
{% load tailwind_filters %}

{% block title %}Subscribe{% endblock title %}

{% block content %}
<h1 class="text-2xl font-bold text-zinc-800 mb-3">Subscribe to Notifications</h1>
<p class="text-zinc-700 mb-5">
    Subscribe to the <span class="font-semibold">LightsOff</span> service to receive semi-realtime
    notifications about power cut schedules from the CEB.
</p>
<div class="bg-zinc-50 p-5 rounded-lg font-semibold text-green-900">
    <i class="fa-solid fa-circle-check"></i>
    You've successfully subscribed to the LightsOff. Check your inbox for a confirmation email.
</div>
{% endblock content %}